apache-client-example/src/main/resources/TestingWsdl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tns="http://rol.rw/firstWebServiceTesting"
	targetNamespace="http://rol.rw/firstWebServiceTesting">

	<wsdl:types>
		<xsd:schema
			targetNamespace="http://rol.rw/firstWebServiceTesting"
			elementFormDefault="qualified" attributeFormDefault="unqualified">
			<xsd:complexType name="Product">
				<xsd:sequence>
					<xsd:element name="quantity" type="xsd:string" />
					<xsd:element name="description" minOccurs="0" type="xsd:string" nillable="false"  />
					<xsd:element name="id" minOccurs="0" type="xsd:string" nillable="false"  />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="orders">
				<xsd:sequence>
					<xsd:element name="id" type="xsd:int" />
					<xsd:element name="product" type="tns:Product"
						maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="getOrderRequest">
				<xsd:sequence>
					<xsd:element name="customerId" type="xsd:int"
						minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="getOrderResponse">
				<xsd:sequence>
					<xsd:element name="orders" type="tns:orders"
						minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="createOrderRequest">
				<xsd:sequence>
					<xsd:element name="customerId" type="xsd:int"
						minOccurs="0" />
					<xsd:element name="order" type="tns:orders"
						minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="createOrderResponse">
				<xsd:sequence>
					<xsd:element name="result" type="xsd:boolean" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="getOrderRequest"
				type="tns:getOrderRequest" />
			<xsd:element name="getOrderResponse"
				type="tns:getOrderResponse" />
			<xsd:element name="createOrderRequest"
				type="tns:createOrderRequest" />
			<xsd:element name="createOrderResponse"
				type="tns:createOrderResponse" />
		</xsd:schema>

	</wsdl:types>
	<wsdl:message name="getOrderRequest">
		<wsdl:part name="getOrderRequest"
			element="tns:getOrderRequest" />
	</wsdl:message>
	<wsdl:message name="getOrderResponse">
		<wsdl:part name="getOrderResponse"
			element="tns:getOrderResponse" />
	</wsdl:message>
	<wsdl:message name="createOrderRequest">
		<wsdl:part name="createOrderRequest"
			element="tns:createOrderRequest" />
	</wsdl:message>
	<wsdl:message name="createOrderResponse">
		<wsdl:part name="createOrderResponse"
			element="tns:createOrderResponse" />
	</wsdl:message>
	<wsdl:portType name="CustomerOrdersPortType">
		<wsdl:operation name="createOrders">
			<wsdl:input name="createOrderRequest"
				message="tns:createOrderRequest" />
			<wsdl:output name="createOrderResponse"
				message="tns:createOrderResponse" />
		</wsdl:operation>
		<wsdl:operation name="getOrders">
			<wsdl:input name="getOrderRequest"
				message="tns:getOrderRequest" />
			<wsdl:output name="getOrderResponse"
				message="tns:getOrderResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CustomerOrderServicePortBinding"
		type="tns:CustomerOrdersPortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="getOrders">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="getOrderRequest">
				<soap:body parts="getOrderRequest" use="literal" />
			</wsdl:input>
			<wsdl:output name="getOrderResponse">
				<soap:body parts="getOrderResponse" use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="createOrders">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="createOrderRequest">
				<soap:body parts="createOrderRequest" use="literal" />
			</wsdl:input>
			<wsdl:output name="createOrderResponse">
				<soap:body parts="createOrderResponse" use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CustomerOrderService">
		<wsdl:port name="CustomerOrdersPort"
			binding="tns:CustomerOrderServicePortBinding">
			<soap:address
				location="http://localhost:8080/CreateCustomerService?wsdl" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
